@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FCFCFD;
  --foreground: #1D2939;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #FCFCFD;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.marquee {
  animation: scroll 20s linear infinite;
  display: flex;
  width: max-content;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
